/Users/coryparrish/Desktop/bmc_app_ui/client/src/assets filter=lfs diff=lfs merge=lfs -text
/Users/coryparrish/Desktop/bmc_app_ui/client/public/Garage filter=lfs diff=lfs merge=lfs -text
Gothic filter=lfs diff=lfs merge=lfs -text
FB filter=lfs diff=lfs merge=lfs -text
Bold.otf filter=lfs diff=lfs merge=lfs -text
/Users/coryparrish/Desktop/bmc_app_ui/client/src/assets/4-20_FourthWall_BernieMacAndCheese_147.jpeg filter=lfs diff=lfs merge=lfs -text
/Users/coryparrish/Desktop/bmc_app_ui/client/src/assets/4-20_FourthWall_BernieMacAndCheese_161.jpeg filter=lfs diff=lfs merge=lfs -text
/Users/coryparrish/Desktop/bmc_app_ui/client/src/assets/alexis.jpeg filter=lfs diff=lfs merge=lfs -text
/Users/coryparrish/Desktop/bmc_app_ui/client/src/assets/asSeenOn.png filter=lfs diff=lfs merge=lfs -text
/Users/coryparrish/Desktop/bmc_app_ui/client/src/assets/bmcimg.png filter=lfs diff=lfs merge=lfs -text
/Users/coryparrish/Desktop/bmc_app_ui/client/src/assets/bmclogo1.svg filter=lfs diff=lfs merge=lfs -text
/Users/coryparrish/Desktop/bmc_app_ui/client/src/assets/budokan.png filter=lfs diff=lfs merge=lfs -text
/Users/coryparrish/Desktop/bmc_app_ui/client/src/assets/jaywhite.jpeg filter=lfs diff=lfs merge=lfs -text
/Users/coryparrish/Desktop/bmc_app_ui/client/src/assets/sean.jpeg filter=lfs diff=lfs merge=lfs -text
/Users/coryparrish/Desktop/bmc_app_ui/client/src/assets/simone.png filter=lfs diff=lfs merge=lfs -text
/Users/coryparrish/Desktop/bmc_app_ui/client/src/assets/taty.jpeg filter=lfs diff=lfs merge=lfs -text
/Users/coryparrish/Desktop/bmc_app_ui/client/Media/bmchighlight.mp4 filter=lfs diff=lfs merge=lfs -text
/Users/coryparrish/Desktop/bmc_app_ui/client/dist/bmcvidbg.mp4 filter=lfs diff=lfs merge=lfs -text
Media/bmchighlight.mp4 filter=lfs diff=lfs merge=lfs -text
/Users/coryparrish/Desktop/bmc_app_ui/client/public/bmcvidbg.mp4 filter=lfs diff=lfs merge=lfs -text
Media/*.MOV filter=lfs diff=lfs merge=lfs -text
Media/*.mp4 filter=lfs diff=lfs merge=lfs -text
Media/*.gif filter=lfs diff=lfs merge=lfs -text
public/*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.MOV filter=lfs diff=lfs merge=lfs -text
